@model NylimSapInterface.Model.Rei2SapRules


<div class="editor-label">
    @Html.LabelFor(model => model.Type)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Type, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.Type)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.GroupName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.GroupName, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.GroupName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Portfolio)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Portfolio, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.Portfolio)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.participant)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.participant, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.participant)
</div>


<div class="editor-label">
    @Html.LabelFor(model => model.Ca_cc)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Ca_cc, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.Ca_cc)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.DebitOrCredit)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DebitOrCredit, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.DebitOrCredit)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CompanyCode)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CompanyCode, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.CompanyCode)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.GlAccount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.GlAccount, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.GlAccount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.SAPAccountName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.SAPAccountName, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.SAPAccountName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PoolProfitCenter)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PoolProfitCenter, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.PoolProfitCenter)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ProfitCenter)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ProfitCenter, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.ProfitCenter)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.TransactionType)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.TransactionType, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.TransactionType)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CurrentSapRefCode)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CurrentSapRefCode, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.CurrentSapRefCode)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.NewSapRefCode)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.NewSapRefCode, new { @class = "k-input" })
    @Html.ValidationMessageFor(model => model.NewSapRefCode)
</div>